.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    place-items: center;
}
.players img{
    height: 50px;
   margin-right: 20px;
}
.player{
    display: flex;
    align-items: center;
  
    
}
main{
  max-width: 70%;
   width: 1300px;
    margin: 0 auto;

}

@media (max-width:992px) {
    .players{
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media(max-width:600px){
    .players{
        grid-template-columns: repeat(1,1fr);
    }
}
.ad{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 70%;
    width: 1300px;
    margin-bottom: 30px;
    margin-top: 30px;
   
    
}
.ad img{
   width: 250px;


}

.tittale{
    margin: 0 auto;
    max-width: 70%;
    width: 1300px;
    margin-bottom: 30px;
    margin-top: 30px;
}
@media(max-width:600px){
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}
.course{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 70%;
    width: 1300px;
    
    
    
    

}
.vs{
    width: 250px;
}
.d1{
    background-color: goldenrod;
}
.x1{
    text-decoration: none;
}
.x1:hover{
    color: aquamarine;
}
.x1:visited{
    color: black;
}
.nave li{
    list-style: none;
    display: inline;
    margin: 10px;
    
   

    
  
   
 

}

.nave a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
   
    
}

.nave{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: hsl(240, 100%, 30%);
    
    
}

.nave img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#zq{
   position: relative;
  left: 1200px;
}
    
    
 


